<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>multi tabs</title>
		<link rel="stylesheet" type="text/css" href="multitab.css" />
	</head>
	<body>
        <svg class="hidden">
            <defs>
                <path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z"></path>
            </defs>
        </svg>
		<div class="ion-container">
			<section>
				<div class="ion-tabs ion-bar">
					<nav>
						<ul>
							<li><a href="#section-bar-1" class="ion-icon ion-icon-home"><span>Home</span></a></li>
							<li><a href="#section-bar-2" class="ion-icon ion-icon-box"><span>Archive</span></a></li>
							<li><a href="#section-bar-3" class="ion-icon ion-icon-display"><span>Analytics</span></a></li>
							<li><a href="#section-bar-4" class="ion-icon ion-icon-upload"><span>Upload</span></a></li>
							<li><a href="#section-bar-5" class="ion-icon ion-icon-tools"><span>Settings</span></a></li>
						</ul>
					</nav>
					<div class="ion-wrap">
						<section id="section-bar-1"><p>1</p></section>
						<section id="section-bar-2"><p>2</p></section>
						<section id="section-bar-3"><p>3</p></section>
						<section id="section-bar-4"><p>4</p></section>
						<section id="section-bar-5"><p>5</p></section>
					</div>
				</div>
			</section>
			<section>
				<div class="ion-tabs ion-iconbox">
					<nav>
						<ul>
							<li><a href="#section-ion-iconbox-1" class="ion-icon ion-icon-home"><span>Home</span></a></li>
							<li><a href="#section-ion-iconbox-2" class="ion-icon ion-icon-gift"><span>Deals</span></a></li>
							<li><a href="#section-ion-iconbox-3" class="ion-icon ion-icon-upload"><span>Upload</span></a></li>
							<li><a href="#section-ion-iconbox-4" class="ion-icon ion-icon-coffee"><span>Work</span></a></li>
							<li><a href="#section-ion-iconbox-5" class="ion-icon ion-icon-config"><span>Settings</span></a></li>
						</ul>
					</nav>
					<div class="ion-wrap">
						<section id="section-ion-iconbox-1"><p>1</p></section>
						<section id="section-ion-iconbox-2"><p>2</p></section>
						<section id="section-ion-iconbox-3"><p>3</p></section>
						<section id="section-ion-iconbox-4"><p>4</p></section>
						<section id="section-ion-iconbox-5"><p>5</p></section>
					</div>
				</div>
			</section>
			<section>
				<div class="ion-tabs ion-underline">
					<nav>
						<ul>
							<li><a href="#section-underline-1" class="ion-icon ion-icon-home"><span>Home</span></a></li>
							<li><a href="#section-underline-2" class="ion-icon ion-icon-gift"><span>Deals</span></a></li>
							<li><a href="#section-underline-3" class="ion-icon ion-icon-upload"><span>Upload</span></a></li>
							<li><a href="#section-underline-4" class="ion-icon ion-icon-coffee"><span>Work</span></a></li>
							<li><a href="#section-underline-5" class="ion-icon ion-icon-config"><span>Settings</span></a></li>
						</ul>
					</nav>
					<div class="ion-wrap">
						<section id="section-underline-1"><p>1</p></section>
						<section id="section-underline-2"><p>2</p></section>
						<section id="section-underline-3"><p>3</p></section>
						<section id="section-underline-4"><p>4</p></section>
						<section id="section-underline-5"><p>5</p></section>
					</div>
				</div>
			</section>
			<section>
				<div class="ion-tabs ion-linetriangle">
					<nav>
						<ul>
							<li><a href="#section-linetriangle-1"><span>All Products</span></a></li>
							<li><a href="#section-linetriangle-2"><span>Electronics</span></a></li>
							<li><a href="#section-linetriangle-3"><span>Clothing</span></a></li>
							<li><a href="#section-linetriangle-4"><span>Multimedia</span></a></li>
							<li><a href="#section-linetriangle-5"><span>Toys</span></a></li>
						</ul>
					</nav>
					<div class="ion-wrap">
						<section id="section-linetriangle-1"><p>1</p></section>
						<section id="section-linetriangle-2"><p>2</p></section>
						<section id="section-linetriangle-3"><p>3</p></section>
						<section id="section-linetriangle-4"><p>4</p></section>
						<section id="section-linetriangle-5"><p>5</p></section>
					</div>
				</div>
			</section>
			<section>
				<div class="ion-tabs ion-topline">
					<nav>
						<ul>
							<li><a href="#section-topline-1" class="ion-icon ion-icon-home"><span>Home</span></a></li>
							<li><a href="#section-topline-2" class="ion-icon ion-icon-gift"><span>Deals</span></a></li>
							<li><a href="#section-topline-3" class="ion-icon ion-icon-upload"><span>Upload</span></a></li>
							<li><a href="#section-topline-4" class="ion-icon ion-icon-coffee"><span>Work</span></a></li>
							<li><a href="#section-topline-5" class="ion-icon ion-icon-config"><span>Settings</span></a></li>
						</ul>
					</nav>
					<div class="ion-wrap">
						<section id="section-topline-1"><p>1</p></section>
						<section id="section-topline-2"><p>2</p></section>
						<section id="section-topline-3"><p>3</p></section>
						<section id="section-topline-4"><p>4</p></section>
						<section id="section-topline-5"><p>5</p></section>
					</div>
				</div>
			</section>
			<section>
				<div class="ion-tabs ion-iconfall">
					<nav>
						<ul>
							<li><a href="#section-ion-iconfall-1" class="ion-icon ion-icon-home"><span>Home</span></a></li>
							<li><a href="#section-ion-iconfall-2" class="ion-icon ion-icon-gift"><span>Deals</span></a></li>
							<li><a href="#section-ion-iconfall-3" class="ion-icon ion-icon-upload"><span>Upload</span></a></li>
							<li><a href="#section-ion-iconfall-4" class="ion-icon ion-icon-coffee"><span>Work</span></a></li>
							<li><a href="#section-ion-iconfall-5" class="ion-icon ion-icon-config"><span>Settings</span></a></li>
						</ul>
					</nav>
					<div class="ion-wrap">
						<section id="section-ion-iconfall-1"><p>1</p></section>
						<section id="section-ion-iconfall-2"><p>2</p></section>
						<section id="section-ion-iconfall-3"><p>3</p></section>
						<section id="section-ion-iconfall-4"><p>4</p></section>
						<section id="section-ion-iconfall-5"><p>5</p></section>
					</div>
				</div>
			</section>
			<section>
				<div class="ion-tabs ion-linemove">
					<nav>
						<ul>
							<li><a href="#section-linemove-1" class="ion-icon ion-icon-home"><span>Home</span></a></li>
							<li><a href="#section-linemove-2" class="ion-icon ion-icon-box"><span>Archive</span></a></li>
							<li><a href="#section-linemove-3" class="ion-icon ion-icon-display"><span>Analytics</span></a></li>
							<li><a href="#section-linemove-4" class="ion-icon ion-icon-upload"><span>Upload</span></a></li>
							<li><a href="#section-linemove-5" class="ion-icon ion-icon-tools"><span>Settings</span></a></li>
						</ul>
					</nav>
					<div class="ion-wrap">
						<section id="section-linemove-1"><p>1</p></section>
						<section id="section-linemove-2"><p>2</p></section>
						<section id="section-linemove-3"><p>3</p></section>
						<section id="section-linemove-4"><p>4</p></section>
						<section id="section-linemove-5"><p>5</p></section>
					</div>
				</div>
			</section>
			<section>
				<div class="ion-tabs ion-line">
					<nav>
						<ul>
							<li><a href="#section-line-1"><span>Our Controls</span></a></li>
							<li><a href="#section-line-2"><span>Sony Playstation 4</span></a></li>
							<li><a href="#section-line-3"><span>Microsoft Xbox One</span></a></li>
							<li><a href="#section-line-4"><span>Nintendo Wii U</span></a></li>
							<li><a href="#section-line-5"><span>Microconsoles</span></a></li>
						</ul>
					</nav>
					<div class="ion-wrap">
						<section id="section-line-1"><p>1</p></section>
						<section id="section-line-2"><p>2</p></section>
						<section id="section-line-3"><p>3</p></section>
						<section id="section-line-4"><p>4</p></section>
						<section id="section-line-5"><p>5</p></section>
					</div>
				</div>
			</section>
			<section>
				<div class="ion-tabs ion-circle">
					<nav>
						<ul>
							<li><a href="#section-circle-1" class="ion-icon ion-icon-plug"><span>Connect</span></a></li>
							<li><a href="#section-circle-2" class="ion-icon ion-icon-gift"><span>Gifts</span></a></li>
							<li><a href="#section-circle-3" class="ion-icon ion-icon-box"><span>Boxes</span></a></li>
							<li><a href="#section-circle-4" class="ion-icon ion-icon-date"><span>Prints</span></a></li>
							<li><a href="#section-circle-5" class="ion-icon ion-icon-plane"><span>Fun</span></a></li>
						</ul>
					</nav>
					<div class="ion-wrap">
						<section id="section-circle-1"><p>1</p></section>
						<section id="section-circle-2"><p>2</p></section>
						<section id="section-circle-3"><p>3</p></section>
						<section id="section-circle-4"><p>4</p></section>
						<section id="section-circle-5"><p>5</p></section>
					</div>
				</div>
			</section>
			<section>
				<div class="ion-tabs ion-shape">
					<nav>
						<ul>
							<li>
								<a href="#section-shape-1">
									<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
									<span>Home</span>
								</a>
							</li>
							<li>
								<a href="#section-shape-2">
									<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
									<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
									<span>Design</span>
								</a>
							</li>
							<li>
								<a href="#section-shape-3">
									<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
									<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
									<span>Work</span>
								</a>
							</li>
							<li>
								<a href="#section-shape-4">
									<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
									<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
									<span>Portfolio</span>
								</a>
							</li>
							<li>
								<a href="#section-shape-5">
									<svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
									<span>Contact</span>
								</a>
							</li>
						</ul>
					</nav>
					<div class="ion-wrap">
						<section id="section-shape-1"><p>1</p></section>
						<section id="section-shape-2"><p>2</p></section>
						<section id="section-shape-3"><p>3</p></section>
						<section id="section-shape-4"><p>4</p></section>
						<section id="section-shape-5"><p>5</p></section>
					</div>
				</div>
			</section>
			<section>
				<div class="ion-tabs ion-linebox">
					<nav>
						<ul>
							<li><a href="#section-linebox-5"><span>Airline</span></a></li>
							<li><a href="#section-linebox-4"><span>Schedule</span></a></li>
							<li><a href="#section-linebox-2"><span>Deals</span></a></li>
							<li><a href="#section-linebox-3"><span>Drinks</span></a></li>
							<li><a href="#section-linebox-5"><span>Settings</span></a></li>
						</ul>
					</nav>
					<div class="ion-wrap">
						<section id="section-linebox-1"><p>1</p></section>
						<section id="section-linebox-2"><p>2</p></section>
						<section id="section-linebox-3"><p>3</p></section>
						<section id="section-linebox-4"><p>4</p></section>
						<section id="section-linebox-5"><p>5</p></section>
					</div>
				</div>
			</section>
			<section>
				<div class="ion-tabs ion-flip">
					<nav>
						<ul>
							<li><a href="#section-flip-5" class="ion-icon ion-icon-plane"><span>Airline</span></a></li>
							<li><a href="#section-flip-4" class="ion-icon ion-icon-date"><span>Schedule</span></a></li>
							<li><a href="#section-flip-2" class="ion-icon ion-icon-gift"><span>Deals</span></a></li>
							<li><a href="#section-flip-3" class="ion-icon ion-icon-coffee"><span>Drinks</span></a></li>
							<li><a href="#section-flip-5" class="ion-icon ion-icon-tools"><span>Settings</span></a></li>
						</ul>
					</nav>
					<div class="ion-wrap">
						<section id="section-flip-1"><p>1</p></section>
						<section id="section-flip-2"><p>2</p></section>
						<section id="section-flip-3"><p>3</p></section>
						<section id="section-flip-4"><p>4</p></section>
						<section id="section-flip-5"><p>5</p></section>
					</div>
				</div>
			</section>
			<section>
				<div class="ion-tabs ion-circlefill">
					<nav>
						<ul>
							<li><a href="#section-circlefill-1" class="ion-icon ion-icon-plug"><span>Connect</span></a></li>
							<li><a href="#section-circlefill-2" class="ion-icon ion-icon-gift"><span>Gifts</span></a></li>
							<li><a href="#section-circlefill-3" class="ion-icon ion-icon-box"><span>Boxes</span></a></li>
							<li><a href="#section-circlefill-4" class="ion-icon ion-icon-date"><span>Prints</span></a></li>
							<li><a href="#section-circlefill-5" class="ion-icon ion-icon-plane"><span>Fun</span></a></li>
						</ul>
					</nav>
					<div class="ion-wrap">
						<section id="section-circlefill-1"><p>1</p></section>
						<section id="section-circlefill-2"><p>2</p></section>
						<section id="section-circlefill-3"><p>3</p></section>
						<section id="section-circlefill-4"><p>4</p></section>
						<section id="section-circlefill-5"><p>5</p></section>
					</div>
				</div>
			</section>
			<section>
				<div class="ion-tabs ion-tzoid">
					<nav>
						<ul>
							<li><a href="#section-tzoid-1" class="ion-icon ion-icon-home"><span>Home</span></a></li>
							<li><a href="#section-tzoid-2" class="ion-icon ion-icon-box"><span>Archive</span></a></li>
							<li><a href="#section-tzoid-3" class="ion-icon ion-icon-upload"><span>Upload</span></a></li>
							<li><a href="#section-tzoid-4" class="ion-icon ion-icon-display"><span>Analytics</span></a></li>
							<li><a href="#section-tzoid-5" class="ion-icon ion-icon-tools"><span>Settings</span></a></li>
						</ul>
					</nav>
					<div class="ion-wrap">
						<section id="section-tzoid-1"><p>1</p></section>
						<section id="section-tzoid-2"><p>2</p></section>
						<section id="section-tzoid-3"><p>3</p></section>
						<section id="section-tzoid-4"><p>4</p></section>
						<section id="section-tzoid-5"><p>5</p></section>
					</div>
				</div>
				
			</section>
			<section>
				<div class="ion-tabs ion-fillup">
					<nav>
						<ul>
							<li><a href="#section-fillup-1" class="ion-icon ion-icon-home"><span>Home</span></a></li>
							<li><a href="#section-fillup-2" class="ion-icon ion-icon-gift"><span>Deals</span></a></li>
							<li><a href="#section-fillup-3" class="ion-icon ion-icon-upload"><span>Upload</span></a></li>
							<li><a href="#section-fillup-4" class="ion-icon ion-icon-coffee"><span>Work</span></a></li>
							<li><a href="#section-fillup-5" class="ion-icon ion-icon-config"><span>Settings</span></a></li>
						</ul>
					</nav>
					<div class="ion-wrap">
						<section id="section-fillup-1"><p>1</p></section>
						<section id="section-fillup-2"><p>2</p></section>
						<section id="section-fillup-3"><p>3</p></section>
						<section id="section-fillup-4"><p>4</p></section>
						<section id="section-fillup-5"><p>5</p></section>
					</div>
				</div>
			</section>
			
		</div><!-- /ion-container -->
		<script src="multitab.js"></script>
		<script>
			(function() {
				[].slice.call( document.querySelectorAll( '.ion-tabs' ) ).forEach(function(el) {
					ion.packTabs(el);
				});
			})();
		</script>
	</body>
</html>