<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mill-flex</title>
<style>
/* ================ modern flex ===============    IE9+ */
html, body, main{
    display:flex;
    flex-direction:column;
    height: 100%;
}
.ion-header{
    height:100px;
    background: #19B3A6
}
.ion-container-footer{
    height:50px;
    background: #814848
}
.ion-container{
    flex:1;
    display:flex;
}
.ion-container-left{
    width:200px;
    background: #3F509B;
}
.ion-container-right{
    flex:1;
    background: #633751
}
</style>
</head>
<body>
<main>
    <div class ="ion-header"></div>
    <div class ="ion-container">
        <div class ="ion-container-left"></div>
        <div class ="ion-container-right"></div>
    </div>
    <div class ="ion-container-footer"></div>
</main>
</body>
</html>