<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>carrousel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="carrousel.css">
    <style type="text/css">
    </style>
</head>
<body>
<div id="photo_box">
    <div>
        <div></div>
    </div>
</div>
<script type="text/javascript" src="carrousel.js"></script>
<script>
    ion.carrousel()
</script>
</body>
</html>