<html>
        <head>
            <title>scroll sound</title>
            <script src="scroll-sound.js"></script>
            <script>
                document.addEventListener('scroll', function () {
                    while ((window.pageYOffset + window.innerHeight) >= document.body.offsetHeight - (window.innerHeight / 2)) {
                        var node = document.createElement("li")
                        node.innerText = 'Testing.';
                        document.querySelector('ul').appendChild(node);
                    }
                });

                ion.scrollSound(800,'fart');
            </script>
        </head>
        <body>
            <ul>
                <li>滚动浏览器，打开音箱、加大音量看效果！</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
                <li>Testing.</li>
            </ul>
        </body>
    </html>